{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
{{ author.title }} - Survero
{% endblock %}

{% block content %}
{% raw %}

<div id="app" v-cloak>
    <div class="container">
        <div class="row">
            <h4>
                {{ author.firstName }} {{ author.lastName }}
            </h4>

            <ol>
                <li v-for="p in author.papers">
                    <a v-bind:href="'/papers/' + p.key">
                        {{ p.title }}
                    </a>
                    <br>
                    <small><em>(<span v-for="c,i in p.collections"><span v-if="i>0">, </span>{{ c }}</span>)</em></small>
                </li>
            </ol>

            <hr>

            <div>
                {{ screenshots.length }} Unique Screenshots.
            </div>
            <div v-for="row in Math.ceil(screenshots.length / 4)">
                <b-container fluid class="p-4 bg-dark">
                    <b-row>
                        <b-col v-if="(row-1) * 4 + i - 1 < screenshots.length" v-for="i in 4" style="max-width: 400px;">
                            <a v-bind:href="'/papers/' + screenshots[(row-1) * 4 + i - 1].paper_key">
                                <b-img thumbnail fluid v-bind:src="'/uploads/' + screenshots[(row-1) * 4 + i - 1].file_name" style="margin-bottom: 20px;"></b-img>
                            </a>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
        </div>
    </div>
</div>
{% endraw %}

{% endblock %}


{% block script %}
<script>
    window.onload = () => {
        new Vue({
            el: '#app',
            data() {
                return {
                    author: {},
                    screenshots: [],
                }
            },
            methods: {
                reload() {
                    axios.get('/api/authors/{{ author.creatorID }}')
                        .then(response => {
                            this.author = response.data;
                            this.screenshots = this.author.screenshots;
                            document.title = this.author.firstName + " " + this.author.lastName;
                        });
                },
            },
            mounted() {
                this.reload()
            }
        })
    }
</script>
{% endblock %}
