{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
    #bottom_bar {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #f3f3f3;
        padding: 8px;
    }
    #bottom_bar button {
        display: inline;
        width: auto;
        background: #e2e2e2;
        padding: 8px;
    }
    .path:not(:first-child):before {
        content: " > ";
    }
    .path {
        color: #a9a9a9;
        font-style: italic;
    }
    .path:last-child {
        color: #636b6f;
    }

</style>
{% endblock %}

{% block title %}
Papers
{% endblock %}

{% block content %}
<div class="container">
    {% raw %}
    <div id="app" v-cloak>
        <div id="bottom_bar">
            <label>
                <input type="checkbox" v-model="show_only_needs_review">
                Show only <em>Needs Review</em>
            </label>
        </div>
        <div v-if="filter_by_tag_group">
            <strong>
            Filtering based on Tag Group: <em>{{ filter_by_tag_group }}</em>.
            </strong>
        </div>
        <div>
            {{ items.filter(x => !x.needs_review).length }} / {{ items.length }} Papers. ({{ ((1 - (items.filter(x => !x.needs_review).length / items.length)) * 100).toFixed(2) }}% Remaining)
        </div>
        <div>
            <span class="text-success">{{ num_collections_completed() }} Collections Completed</span>,
            <span>{{ num_collections_in_progress() }} In Progress</span>,
            <span class="text-danger">{{ num_collections_not_started() }} Not Started</span>,
            <span class="text-muted">{{ num_collections_empty() }} Empty</span>.
        </div>
        <div>
            <label>Group by Collection? <input type="checkbox" v-model="group_by_collection"></label>
        </div>
        <div v-if="!group_by_collection">
            <b-table ref="table"
                     striped hover
                     :fields="fields"
                     :busy.sync="isBusy"
                     :items="items"
                     :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc"
                     responsive="sm"
                     :filter="sortBy"
                     :filter-function="filterTable">
                <template #cell(key)="data">
                    <a v-bind:href="paperUrl(data.value)">{{ data.value }}</a>
                </template>
                <template #cell(needs_review)="data">
                    <span v-if="data.value" class="text-danger">
                        Needs Review
                    </span>
                    <span v-if="!data.value" class="text-success">
                        Reviewed
                    </span>
                </template>
            </b-table>
        </div>
        <div v-if="group_by_collection">
            <render-tree v-bind:tree="collection_tree"></render-tree>

            <div v-for="c in collections" v-if="c.items.length > 0" style="margin-bottom: 5em">
                <div v-if="collectionFullPath[c.collectionID].length > 1">
                    <small class="path" v-for="p in collectionFullPath[c.collectionID]">{{ p }}</small>
                </div>
                <h3 style="display: inline-block;" v-bind:id="c.collectionName.replace(/[^0-9a-z]/gi, '')">
                    {{ c.collectionName }}
                    ({{ c.items.filter(x => x.num_tags > 0 || x.num_screenshots > 0 || x.num_notes > 0).length }} / {{ c.items.length }})
                </h3>

                <b-button v-b-toggle="'collapse-' + c.collectionName.replace(/[^0-9a-z]/gi, '')" variant="light">Open Papers from Terminal</b-button>
                <b-collapse v-bind:id="'collapse-' + c.collectionName.replace(/[^0-9a-z]/gi, '')" class="mt-2">
                        <textarea style="min-height: 200px; width: 100%;">{{ c.items.filter(filterTable).map(p => "open \"" + APP_URL + paperUrl(p.key) + "\"\n").reduce((x,y) => x + y, '').trim() }}</textarea>
                </b-collapse>
                <b-table ref="table"
                         striped hover
                         :fields="fields"
                         :busy.sync="isBusy"
                         :items="c.items"
                         :sort-by.sync="sortBy"
                         :sort-desc.sync="sortDesc"
                         responsive="sm"
                         :filter="sortBy"
                         :filter-function="filterTable">
                        <template #cell(key)="data">
                            <a v-bind:href="paperUrl(data.value)">{{ data.value }}</a>
                        </template>
                        <template #cell(needs_review)="data">
                            <span v-if="data.value" class="text-danger">
                                Needs Review
                            </span>
                            <span v-if="!data.value" class="text-success">
                                Reviewed
                            </span>
                        </template>
                </b-table>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block script %}
{#  @See: https://v3.vuejs.org/guide/migration/inline-template-attribute.html#_3-x-syntax  #}
{% raw %}
<script type="text/html" id="render-tree-template">
  <ul>
      <li v-for="c in tree" v-bind:key="c.collection.collectionID">
          <div v-bind:class="collectionClass(c)">
                <a v-if="c.collection.items.length > 0" v-bind:class="collectionClass(c)" v-bind:href="'#' + c.collection.collectionName.replace(/[^0-9a-z]/gi, '')">{{ c.collection.collectionName }}</a>
                <span v-if="c.collection.items.length == 0">{{ c.collection.collectionName }}</span>
                (
                {{ c.collection.items.filter(x => !x.needs_review).length }}
                /
                {{ c.collection.items.length }}
                )
              <render-tree v-bind:tree="c.children"></render-tree>
          </div>
      </li>
  </ul>
</script>
{% endraw %}

<script>
    var collectionClass = function(c) {
        completed = c.items.filter(x => !x.needs_review).length;
        total = c.items.length;
        if (total == 0) {
            return 'text-muted';
        }
        if (completed == total) {
            return 'text-success';
        }
        if (completed == 0) {
            return 'text-danger';
        }
        return 'text-dark';
    };

    Vue.component('render-tree', {
        template: '#render-tree-template',
        props: ['tree'],
        methods: {
            collectionClass(c) {
                return window.collectionClass(c.collection);
            },
        }
    });
</script>

<script>
    var app = null;
    APP_URL = {{ config('application.URL')|tojson }};
    workspace = {{ workspace|tojson }}
    window.onload = () => {
        app = new Vue({
            el: '#app',
            data() {
                return {
                    APP_URL: APP_URL,
                    filter_by_tag_group: false,
                    group_by_collection: true,
                    items: [],
                    collections: [],
                    child_collections: {},
                    collection_tree: [],
                    collectionFullPath: {},
                    isBusy: false,
                    sortBy: 'Title',
                    sortDesc: false,
                    show_only_needs_review: false,
                    fields: [
                        {key: 'itemID', sortable: true},
                        {key: 'key', sortable: true},
                        {key: 'title', sortable: true},
                        {key: 'collectionName', sortable: true},
                        {key: 'num_tags', sortable: true},
                        {key: 'num_screenshots', sortable: true},
                        {key: 'num_notes', sortable: true},
                        {key: 'num_attachments', sortable: true},
                        {key: 'needs_review', sortable: true}
                    ],
                }
            },
            methods: {
                reload() {
                    this.isBusy = true;
                    var params = (new URL(document.location)).searchParams;
                    var tag_group = params.get("tag_group");
                    this.filter_by_tag_group = tag_group;
                    var path = '/api/workspaces/' + workspace.key + '/papers';
                    if (tag_group) {
                        path += "?tag_group=" + tag_group;
                    }
                    axios.get(path)
                        .then(response => {
                            this.isBusy = false;
                            this.items = response.data['papers'];
                            this.collections = response.data['collections'];
                            this.child_collections = {};
                            this.collection_tree = [];
                            this.collectionFullPath = {};

                            var items_per_collection = {};
                            this.collections.forEach((c) => {
                                items_per_collection[c.collectionName] = [];
                            });
                            this.items.forEach((x) => {
                                items_per_collection[x.collectionName].push(x)
                            });
                            this.collections = this.collections.map(c => {
                                c['items'] = items_per_collection[c.collectionName];
                                return c;
                            })

                            this.collections.forEach(c => {
                                if (!this.child_collections.hasOwnProperty(c.parentCollectionID)) {
                                    this.child_collections[c.parentCollectionID] = []
                                }
                                this.child_collections[c.parentCollectionID].push(c)
                                if (c.is_workspace) {
                                    this.workspaces.push(c)
                                }
                            });


                            let self = this
                            function buildTree(parentCollectionID) {
                                if (!self.child_collections.hasOwnProperty(parentCollectionID)) {
                                    return [];
                                }
                                return self.child_collections[parentCollectionID].map(c => {
                                    return {
                                        collection: c,
                                        children: buildTree(c.collectionID),
                                    }
                                })
                            }

                            this.collection_tree = buildTree(workspace.parentCollectionID);

                            function sort_tree(tree) {
                                sorted = tree.sort((c1, c2) => c1.collection['collectionName'] > c2.collection['collectionName'])
                                sorted = sorted.map(t => {
                                    t['children'] = sort_tree(t['children']);
                                    return t
                                })
                                return sorted
                            }
                            this.collection_tree = sort_tree(this.collection_tree);


                            this.collectionFullPath[workspace.parentCollectionID] = [];
                            var stack = [this.collection_tree[0]]
                            while (stack.length > 0) {
                                c = stack.pop();
                                children = c.children;
                                c = c.collection;

                                this.collectionFullPath[c.collectionID] = this.collectionFullPath[c.parentCollectionID].concat([c.collectionName])

                                children.forEach(c => {
                                    stack.push(c)
                                });
                            }

                            this.collections.sort((a, b) => {
                                return this.collectionFullPath[a.collectionID].join(">") > this.collectionFullPath[b.collectionID].join(">")
                            });
                        });
                },
                collectionClass(c) {
                    return window.collectionClass(c);
                },
                num_collections_completed() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-success').length;
                },
                num_collections_in_progress() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-dark').length;
                },
                num_collections_not_started() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-danger').length;
                },
                num_collections_empty() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-muted').length;
                },
                paperUrl(key) {
                    path = '/workspaces/' + workspace.key + '/papers/' + key
                    if (this.filter_by_tag_group) {
                        path += "?tag_group=" + this.filter_by_tag_group
                    }
                    return path;
                },
                filterTable(row, filter) {
                    return !this.show_only_needs_review || row.needs_review
                },
            },
            mounted() {
                this.reload()
            },
            created() {
                self = this;
                document.addEventListener('visibilitychange', function() {
                    if (!document.hidden) {
                        self.reload()
                    }
                }, false);
            }
        });
    }
</script>
{% endblock %}