{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
    #bottom_bar {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #f3f3f3;
        padding: 8px;
    }
    #bottom_bar button {
        display: inline;
        width: auto;
        background: #e2e2e2;
        padding: 8px;
    }
</style>
{% endblock %}

{% block title %}
Survero - Paper Survey Application
{% endblock %}

{% block content %}
<div class="container">
    {% raw %}
    <div id="app" v-cloak>
        <div id="bottom_bar">
            <button id="refresh" class="form-control" v-on:click="reload()" v-if="!isBusy">
                Refresh
            </button>
            |
            <label>
                <input type="checkbox" v-model="show_only_needs_review">
                Show only <em>Needs Review</em>
            </label>
        </div>
        <div v-if="filter_by_tag_group">
            <strong>
            Filtering based on Tag Group: <em>{{ filter_by_tag_group }}</em>.
            </strong>
        </div>
        <div>
            {{ items.filter(x => !x.needs_review).length }} / {{ items.length }} Papers. ({{ ((1 - (items.filter(x => !x.needs_review).length / items.length)) * 100).toFixed(2) }}% Remaining)
        </div>
        <div>
            <span class="text-success">{{ num_collections_completed() }} Collections Completed</span>,
            <span>{{ num_collections_in_progress() }} In Progress</span>,
            <span class="text-danger">{{ num_collections_not_started() }} Not Started</span>.
        </div>
        <div>
            <label>Group by Collection? <input type="checkbox" v-model="group_by_collection"></label>
        </div>
        <div v-if="!group_by_collection">
            <b-table ref="table"
                     striped hover
                     :fields="fields"
                     :busy.sync="isBusy"
                     :items="items"
                     :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc"
                     responsive="sm"
                     :filter="sortBy"
                     :filter-function="filterTable">
                <template #cell(key)="data">
                    <a v-bind:href="paperUrl(data.value)">{{ data.value }}</a>
                </template>
                <template #cell(needs_review)="data">
                    <span v-if="data.value" class="text-danger">
                        Needs Review
                    </span>
                    <span v-if="!data.value" class="text-success">
                        Reviewed
                    </span>
                </template>
            </b-table>
        </div>
        <div v-if="group_by_collection">
            <ul>
                <li v-for="c in collections">
                    <span v-bind:class="collectionClass(c)">
                        <a v-bind:class="collectionClass(c)" v-bind:href="'#' + c.replace(/[^a-z]/gi, '')">{{ c }}</a>
                        (
                        {{ items_per_collection[c].filter(x => !x.needs_review).length }}
                        /
                        {{ items_per_collection[c].length }}
                        )
                    </span>
                </li>
            </ul>
            <div v-for="c in collections">
                <h3 v-bind:id="c.replace(/[^a-z]/gi, '')">{{ c }} ({{ items_per_collection[c].filter(x => x.num_tags > 0 || x.num_screenshots > 0 || x.num_notes > 0).length }} / {{ items_per_collection[c].length }})</h3>
                <b-table ref="table"
                         striped hover
                         :fields="fields"
                         :busy.sync="isBusy"
                         :items="items_per_collection[c]"
                         :sort-by.sync="sortBy"
                         :sort-desc.sync="sortDesc"
                         responsive="sm"
                         :filter="sortBy"
                         :filter-function="filterTable">
                        <template #cell(key)="data">
                            <a v-bind:href="paperUrl(data.value)">{{ data.value }}</a>
                        </template>
                        <template #cell(needs_review)="data">
                            <span v-if="data.value" class="text-danger">
                                Needs Review
                            </span>
                            <span v-if="!data.value" class="text-success">
                                Reviewed
                            </span>
                        </template>
                </b-table>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block script %}
<script>
    var app = null;
    window.onload = () => {
        app = new Vue({
            el: '#app',
            data() {
                return {
                    filter_by_tag_group: false,
                    group_by_collection: true,
                    items: [],
                    collections: [],
                    items_per_collection: {},
                    isBusy: false,
                    sortBy: 'Title',
                    sortDesc: false,
                    show_only_needs_review: false,
                    fields: [
                        {key: 'itemID', sortable: true},
                        {key: 'key', sortable: true},
                        {key: 'title', sortable: true},
                        {key: 'collectionName', sortable: true},
                        {key: 'num_tags', sortable: true},
                        {key: 'num_screenshots', sortable: true},
                        {key: 'num_notes', sortable: true},
                        {key: 'num_attachments', sortable: true},
                        {key: 'needs_review', sortable: true}
                    ],
                }
            },
            methods: {
                reload() {
                    this.isBusy = true;
                    var params = (new URL(document.location)).searchParams;
                    var tag_group = params.get("tag_group");
                    this.filter_by_tag_group = tag_group;
                    var path = tag_group ? '/api/papers?tag_group=' + tag_group : '/api/papers';
                    axios.get(path)
                        .then(response => {
                            this.isBusy = false;
                            this.items = response.data;
                            this.collections = [...new Set(this.items.map((x) => x.collectionName))].sort();
                            this.collections.forEach((c) => {
                                this.items_per_collection[c] = [];
                            });
                            this.items.forEach((x) => {
                                this.items_per_collection[x.collectionName].push(x)
                            });
                        });
                },
                collectionClass(c) {
                    completed = this.items_per_collection[c].filter(x => !x.needs_review).length;
                    total = this.items_per_collection[c].length;
                    if (completed == total) {
                        return 'text-success';
                    }
                    if (completed == 0) {
                        return 'text-danger';
                    }
                    return 'text-dark';
                },
                num_collections_completed() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-success').length;
                },
                num_collections_in_progress() {
                    return this.collections.filter(c => this.collectionClass(c) === '').length;
                },
                num_collections_not_started() {
                    return this.collections.filter(c => this.collectionClass(c) === 'text-danger').length;
                },
                paperUrl(key) {
                    return this.filter_by_tag_group ?
                        '/papers/' + key + "?tag_group=" + this.filter_by_tag_group
                        : '/papers/' + key
                },
                filterTable(row, filter) {
                    return !this.show_only_needs_review || row.needs_review
                },
            },
            mounted() {
                this.reload()
            }
        });
    }
</script>
{% endblock %}