{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
    ul#notes {
        margin-top:15px;
    }
    ul#notes li {
        margin-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 15px;
    }
    .deletable {
        cursor: pointer;
    }
    .input-group-typeahead input {
        border-radius: 0;
    }
</style>
{% endblock %}

{% block title %}
{{ item.key }}
{% endblock %}

{% block content %}
{% raw %}

<div id="app" v-cloak>
    <div class="container">
        <div class="row" v-if="!item.title">
            <div>Loading...</div>
        </div>
        <div class="row" v-if="item.title">
            <h1>
                {{ item.title }}
            </h1>
            <h5>
                <span v-if="item.authors && item.authors.length == 0" class="text-warning">Warning: No Authors Found</span>
                <span v-for="a,i in item.authors">
                    <span v-if="i>0">,</span>
                    <a v-bind:href="'/workspaces/' + workspace.key + '/authors/' + a.creatorID">
                        {{a.firstName}} {{a.lastName}}
                    </a>
                </span>
            </h5>
            <h6 class="text-muted" v-for="c in item.collections">(Collection: {{ c.collectionName }})</h6>
            <div style="margin-bottom: 8px">
                Actions:
                <b-button v-on:click="showBibtexModal()" class="btn-sm" variant="primary">Cite: Bibtex</b-button>
            </div>
            <div v-if="item.screenshots">
                <div v-for="row in Math.ceil(item.screenshots.length / 3)">
                    <b-container fluid class="p-4 bg-dark">
                        <b-row>
                            <b-col v-if="(row-1) * 3 + i - 1 < item.screenshots.length" v-for="i in 3" style="max-width: 400px;" class="text-center">
                                <b-img thumbnail fluid v-bind:src="'/uploads/' + item.screenshots[(row-1) * 3 + i - 1].file_name"></b-img>
                                <div>
                                    <small class="text-danger deletable" v-on:click="deleteScreenshot(item.screenshots[(row-1) * 3 + i - 1])">Delete</small>
                                </div>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </div>
            <ul>
                <li v-for="a in item.attachments" style="list-style: none">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend input-group-text">{{ a.key }}</div>
                            <b-form-input type="text" v-on:click="copy"
                                          v-bind:value="'open ' + (a.path.replace('storage:', ''))">
                            </b-form-input>
                    </div>
                </li>
            </ul>
            <hr>


            <b-col>
                <div class="input-group mt-3">
                    <div class="input-group-prepend input-group-text">Add a Tag</div>

                    <typeahead
                            class="input-group-typeahead"
                            ref="typeahead"
                            v-model="new_tag_text"
                            v-bind:data="allTags"
                            v-bind:min-matching-chars="1"
                            v-bind:show-on-focus="true"
                            @hit="addTag"
                            @keyup.enter="addTag">
                    </typeahead>
                    <b-button v-on:click="addTag" class="input-group-append">Create</b-button>
                </div>
                <ul>
                    <li v-for="t in item.tags">
                        <span v-bind:class="tagTextColor(t.tag)">
                            {{ t.tag }}
                        </span>

                        <small class="text-danger deletable" v-on:click="deleteTag(t)">(X)</small>
                    </li>
                    <hr v-if="deletedTags.length > 0">
                    <li v-for="t in deletedTags" class="text-muted">
                        Deleted:
                        <del>{{ t }}</del>
                    </li>
                </ul>
            </b-col>

            <b-col>
                <div class="input-group mt-3">
                    <div class="input-group-prepend input-group-text">Add a Note</div>

                    <input
                            class="form-control"
                            ref="typeahead"
                            v-model="new_note_text"
                            @keyup.enter="addNote"/>
                    <b-button v-on:click="addNote" class="input-group-append">Create</b-button>
                </div>
                <ul id="notes" v-if="item.notes && item.notes.length > 0">
                    <li v-for="n in item.notes.slice().reverse()">
                        <template v-for="v in splitNoteText(n.note)">
                            <a v-if="v['isPaperKey']" v-bind:href="'/papers/' +  v['value']">{{ v['value'] }}</a>
                            <span v-if="!v['isPaperKey']">{{ v['value'] }}</span>
                        </template>
                        <br>
                        <small>
                            <span class="text-success">{{ n.user.name }}</span>
                            : <em>{{ DateTime.fromISO(n.created_at).toLocaleString(DateTime.DATETIME_FULL) }}</em>
                            <em class="text-danger deletable" v-on:click="deleteNote(n)">Delete</em>
                        </small>
                    </li>
                </ul>
            </b-col>
        </div>
    </div>
    <vuefullscreenfiledrop @drop='addScreenshot'></vuefullscreenfiledrop>


    <b-modal ref="bibtex-modal" hide-footer v-bind:title="bibtex.is_saving ? 'Bibtex (Saving...)' : 'Bibtex (Saved)'">
        <textarea v-model="bibtex.value" class="form-control" style="margin-bottom: 16px; height: 250px;" placeholder="Bibtex is empty. Try generating bibtex or add it manually."></textarea>
        <div v-if="bibtex.is_loading">
            <p>Bibtex is Loading...</p>
        </div>
        <div v-if="!bibtex.is_loading">
            <p v-if="bibtex.value.length == 0">
                There is no Bibtex value for this paper.
                If there is a DOI associated with the paper, try
                <a href="#" v-on:click="generateBibtex()">generating the bibtex</a>.
                Alternatively, you can manually write the bibtex value in the above text-area.
                Changes made to this text-area will automatically save.
            </p>
            <p v-if="bibtex.value.length > 0">
                Changes made to this text-area will automatically save.
                You can <a href="#" v-on:click="generateBibtex()">re-generate the bibtex</a> if there is a DOI associated with this paper.
            </p>
            <p v-if="bibtex.error_message" class="text-danger">
                {{ bibtex.error_message }}
            </p>
            <p v-if="bibtex__value_simplified_format.indexOf(item__title_simplified_format) == -1 && bibtex.value.length > 0" class="text-danger">
                It looks like the full title of the paper
                <strong>"{{ item.title }}"</strong>
                is not available in this Bibtex.
                You may want to review the Bibtex content.
            </p>
        </div>
    </b-modal>
</div>
{% endraw %}

{% endblock %}


{% block script %}
<script>
    var app = null;
    workspace = {{ workspace|tojson }}

    window.onload = () => {
        Vue.component('vuefullscreenfiledrop', VueFullScreenFileDrop);
        Vue.component('typeahead', VueTypeaheadBootstrap);
        app = new Vue({
            el: '#app',
            data() {
                return {
                    DateTime: window.DateTime,
                    workspace: workspace,
                    isBusy: false,
                    item: {},
                    ZOTERO_PATH: '{{ config("application.zotero_path") }}',
                    new_tag_text: this.getDefaultTagString(),
                    new_note_text: '',
                    allTags: [],
                    newlyAddedTags: [],
                    deletedTags: [],
                    previouslyAddedTag: "",
                    bibtex: {
                        value: "",
                        is_loading: true,
                        is_saving: false,
                        error_message: null,
                    }
                }
            },
            methods: {
                reload() {
                    axios.get('/api/workspaces/' + workspace.key + '/papers/{{ item.key }}')
                        .then(response => {
                            this.item = response.data;
                            document.title = document.title.replace(this.item.key, '"' + this.item.title + '"')
                            this.item.tags = this.item.tags.sort((x,y) => {
                                return x.tag > y.tag
                            });

                            axios.get('/api/workspaces/' + workspace.key + '/tags/')
                                .then(response => {
                                    this.allTags = response.data.map(t => {
                                        return t.tag
                                    }).filter(t => {
                                        return !this.item.tags.map(x => x.tag).includes(t);
                                    });
                                });
                        });
                    self.bibtex.is_loading = true;
                    axios.get('/api/workspaces/' + workspace.key + '/papers/{{ item.key }}/bibtex')
                        .then(response => {
                            if (response.data.status === "success") {
                                bibtex = response.data.model.bibtex;
                                if (bibtex && bibtex.length > 0 && bibtex !== this.bibtex.value) {
                                    this.bibtex.value = bibtex
                                }
                            }
                            self.bibtex.is_loading = false;
                        })
                },
                addScreenshot(formData, files) {
                    formData.set('paper_key', '{{ item.key }}');
                    formData.set('__token', '{{ csrf_token }}');
                    axios({
                        method: "post",
                        url: '/api/screenshots',
                        data: formData,
                        headers: {"Content-Type": "multipart/form-data"},
                    }).then(response => {
                        this.reload();
                    });
                },
                addTag() {
                    if (
                        this.new_tag_text !== ''
                        && this.new_tag_text !== this.getDefaultTagString()
                        && this.newlyAddedTags.indexOf(this.new_tag_text) === -1
                    ) {
                        this.newlyAddedTags.push(this.new_tag_text);
                        axios({
                            method: "post",
                            url: '/api/tags',
                            data: {
                                '__token': '{{ csrf_token }}',
                                'paper_key': '{{ item.key }}',
                                'tag': this.new_tag_text,
                            },
                        }).then(response => {
                            this.reload();
                            this.previouslyAddedTag = this.new_tag_text;
                            this.new_tag_text = this.getDefaultTagString();
                            this.$refs.typeahead.$refs.input.focus();
                        });
                    }
                },
                deleteTag(tag) {
                    this.deletedTags.push(tag.tag);
                    this.newlyAddedTags = this.newlyAddedTags.filter(t => t !== tag.tag);
                    axios({
                        method: "delete",
                        url: '/api/tags/' + tag.id,
                        data: {
                            '__token': '{{ csrf_token }}',
                        },
                    }).then(response => {
                        this.reload();
                    });
                },
                deleteNote(note) {
                    axios({
                        method: "delete",
                        url: '/api/notes/' + note.id,
                        data: {
                            '__token': '{{ csrf_token }}',
                        },
                    }).then(response => {
                        this.reload();
                    });
                },
                deleteScreenshot(screenshot) {
                    axios({
                        method: "delete",
                        url: '/api/screenshots/' + screenshot.id,
                        data: {
                            '__token': '{{ csrf_token }}',
                        },
                    }).then(response => {
                        this.reload();
                    });
                },
                addNote() {
                    if (this.new_note_text !== '') {
                        axios({
                            method: "post",
                            url: '/api/notes',
                            data: {
                                '__token': '{{ csrf_token }}',
                                'paper_key': '{{ item.key }}',
                                'note': this.new_note_text,
                            },
                        }).then(response => {
                            this.reload();
                            this.new_note_text = '';
                        });
                    }
                },
                copy(e, i) {
                    console.log(e, i);
                    e.target.select();
                    document.execCommand("copy");
                },
                tagTextColor(t) {
                    if (this.item.tags.filter(v => v.tag == t).length > 1) {
                        return 'text-danger';
                    }

                    if (this.newlyAddedTags.indexOf(t) > -1) {
                        return 'text-success';
                    }

                    tag_group = new URL(location.href).searchParams.get('tag_group');
                    if (tag_group && t.indexOf(tag_group) === 0) {
                        return 'text-info';
                    }

                    return ''
                },
                getDefaultTagString() {
                    tag_group = new URL(location.href).searchParams.get('tag_group');
                    if (tag_group) {
                        return tag_group + ": ";
                    }

                    if (this.previouslyAddedTag && this.previouslyAddedTag.indexOf(":") > -1) {
                        return this.previouslyAddedTag.substring(0, this.previouslyAddedTag.lastIndexOf(":")) + ": ";
                    }

                    return "";
                },
                splitNoteText(text) {
                    var reg = /([A-Z0-9]{8})[ \.]/g;
                    var ignore_list = [
                        'LABELLED',
                        'TERRIBLE',
                        'MPORTANT',
                    ];
                    return text.split(reg).map(x => {
                        console.log(x.match(reg));
                        return {
                            'value': x,
                            'isPaperKey': !!x.match(reg) && ignore_list.indexOf(x.match(reg)[0]) < 0,
                        }
                    })
                },
                showBibtexModal() {
                    this.$refs['bibtex-modal'].show();
                },
                generateBibtex() {
                    self = this;
                    this.bibtex.is_loading = true;
                    axios.get('/api/workspaces/' + workspace.key + '/papers/{{ item.key }}/bibtex/generate')
                        .then(response => {
                            if (response.data.status === 'success') {
                                this.bibtex.value = response.data.bibtex;
                                self.bibtex.is_loading = false;
                                self.bibtex.error_message = null;
                            } else {
                                self.bibtex.is_loading = false;
                                self.bibtex.error_message = response.data.message;
                            }
                        })
                }
            },
            mounted() {
                this.reload()
            },
            created() {
                self = this;

                document.addEventListener('visibilitychange', function() {
                    if (!document.hidden) {
                        self.reload()
                    }
                }, false);

                window.addEventListener('paste', e => {
                    for (let i = 0; i < e.clipboardData.files.length; i++) {
                        var formData = new FormData();
                        formData.append('upload', e.clipboardData.files[i], e.clipboardData.files[i].name)
                        self.addScreenshot(formData, e.clipboardData.files)
                    }
                });
            },
            watch: {
                "bibtex.value": _.debounce(function (newVal, oldVal) {
                    if (!self.bibtex.is_loading) {
                        self.bibtex.is_saving = true;
                        axios({
                            method: "put",
                            url: '/api/workspaces/' + workspace.key + '/papers/{{ item.key }}/bibtex',
                            data: {
                                '__token': '{{ csrf_token }}',
                                'paper_key': '{{ item.key }}',
                                'bibtex': newVal,
                            },
                        }).then(response => {
                            self.bibtex.is_saving = false;
                            self.bibtex.error_message = null;
                        });
                    }
                }, 500)
            },
            computed: {
                'bibtex__value_simplified_format': function () {
                    return self.bibtex.value.replace(/[^0-9a-z\s]/gi, '').toLowerCase();
                },
                'item__title_simplified_format': function () {
                    return self.item.title.replace(/[^0-9a-z\s]/gi, '').toLowerCase();
                }
            }
        })
    }
</script>
{% endblock %}
