@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import '~vue-full-screen-file-drop/dist/vue-full-screen-file-drop.css';

$font-stack:    'Raleway', sans-serif;
$text-color: #636b6f;
$background-color: #fff;

html, body {
    background-color: $background-color;
    color: $text-color;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

body > div:last-of-type {
    margin-bottom: 300px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

[v-cloak] {
  display: none !important;
}

.title {
    //padding: 0;
    margin: 0;
}

.nav {
    padding: 0 10px 10px;
}

.nav li {
    margin-right: 16px;
}
.nav li a {
    text-decoration: none;
}

.modal button {
    border-radius: revert;
}