<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {{ config('application.name', 'Masonite') }} {% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
</head>

<body>

<div class="container">
    <div class="row">
        <div class="title m-b-md">
            {{ config('application.name') }}
        </div>
        <ul class="nav">
            <li><a href="/papers">Papers</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/screenshots">Screenshots</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/authors">Authors</a> (<a href="/authors/graph">Graph</a>)</li>
            <li><a href="/search">Full Text Search</a></li>
        </ul>
    </div>
<hr>
</div>
{% block content %}

{% endblock %}
<script src="/public/js/app.js"></script>
{% block script %}

{% endblock %}
</body>
</html>