<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {{ config('application.name', 'Masonite') }} {% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <style>
        #nav {
            margin-bottom: 32px;
        }
        #nav li a {
            border-radius: 3px;
            padding: 10px;
        }
        #nav li a:hover {
            background: #f6f6f6;
        }
        #nav li a.active {
            background: #f1f1f1;
        }
    </style>
    {% block css %}{% endblock %}
</head>

<body>


<div class="container" id="nav" v-cloak>
    <div class="row">
        <div class="title m-b-md">
            <a href="/workspaces" class="text-muted" style="text-decoration: none;">
                {{ config('application.name') }}
            </a>
        </div>


        {% if workspace %}
            <ul class="nav">
                <li><a href="/workspaces/{{ workspace.key }}/papers" v-bind:class="isActive('papers')">Papers</a></li>
                <li><a href="/workspaces/{{ workspace.key }}/tags" v-bind:class="isActive('tags')">Tags</a></li>
                <li><a href="/workspaces/{{ workspace.key }}/screenshots" v-bind:class="isActive('screenshots')">Screenshots</a></li>
                <li><a href="/workspaces/{{ workspace.key }}/notes" v-bind:class="isActive('notes')">Notes</a></li>
                <li><a href="/workspaces/{{ workspace.key }}/authors" v-bind:class="isActive('authors')">Authors</a> (<a href="/workspaces/{{ workspace.key }}/authors/graph">Graph</a>)</li>
                <li><a href="/workspaces/{{ workspace.key }}/publications" v-bind:class="isActive('publications')">Publications</a></li>
                <li><a href="/workspaces/{{ workspace.key }}/search" v-bind:class="isActive('search')">Full Text Search</a></li>
            </ul>
        {% endif %}
        <small style="margin-right: 10px">
            {% if workspace %}
                Workspace: {{ workspace.collectionName }}<br>
            {% endif %}
            Logged in as: {{ auth().name }}
        </small>
    </div>
<hr>
</div>

{% block content %} {% endblock %}
<script src="/public/js/app.js"></script>
<script>
    var nav = null;

    window.addEventListener("load",function(event) {
        nav = new Vue({
            el: '#nav',
            methods: {
                isActive(tab) {
                    return tab === window.location.pathname.split("/")[3] ? 'active': ''
                },
            }
        });
    })
</script>
{% block script %}

{% endblock %}
</body>
</html>