{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
Survero - Paper Survey Application
{% endblock %}

{% block content %}
<div class="container">
    {% raw %}
    <div id="app" v-cloak>
        <div>
            <strong>{{ notes.length }} Unique Notes.</strong>
        </div>
        <ol reversed>
            <li v-for="n in notes">
                <a v-bind:href="'/workspaces/' + workspace.key + '/papers/' + n.paper_key" style="text-decoration: none">
                    [{{ n.paper_key }}]
                </a>

                <template v-for="v in splitNoteText(n.note)">
                    <a v-if="v['isPaperKey']" v-bind:href="'/workspaces/' + workspace.key + '/papers/' +  v['value']">{{ v['value'] }}</a>
                    <span v-if="!v['isPaperKey']">{{ v['value'] }}</span>
                </template>
            </li>
        </ol>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block script %}
<script>
    var app = null;
    workspace = {{ workspace|tojson }};
    window.onload = () => {
        app = new Vue({
            el: '#app',
            data() {
                return {
                    workspace: workspace,
                    notes: [],
                }
            },
            methods: {
                reload() {
                    axios.get('/api/workspaces/{{ workspace.key }}/notes')
                        .then(response => {
                            this.notes = response.data;
                        });
                },
                splitNoteText(text) {
                    var reg = /([A-Z0-9]{8})[ \.]/g;
                    var ignore_list = [
                        'LABELLED',
                        'TERRIBLE',
                        'MPORTANT',
                    ];
                    return text.split(reg).map(x => {
                        console.log(x.match(reg));
                        return {
                            'value': x,
                            'isPaperKey': !!x.match(reg) && ignore_list.indexOf(x.match(reg)[0]) < 0,
                        }
                    })
                }
            },
            mounted() {
                this.reload()
            }
        });
    }
</script>
{% endblock %}