{% extends 'base.html' %}

{% block css %}
<style>
    .sr-only {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
Screenshots
{% endblock %}

{% block content %}
<div class="container">
    {% raw %}
    <div id="app" v-cloak>
        <div>
            {{ screenshots.length }} Unique Screenshots.
        </div>
        <div>
            <label>
                <input type="checkbox" v-model="sort_randomly" v-on:change="sort_screenshots()"> Sort Randomly?
            </label>
        </div>
        <div v-for="s in screenshots">
            <a v-bind:href="'/workspaces/' + workspace.key + '/papers/' + s.paper_key">
                    <small>{{ s.paper_title }}</small><br>
                    <small>{{s.user.name}} {{ s.created_at.split("T")[0] }}</small><br>
                <b-img thumbnail fluid v-bind:src="'/uploads/' + s.file_name" style="margin-bottom: 80px; width: 50%;"></b-img>
            </a>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block script %}
<script>
    var app = null;
    workspace = {{ workspace|tojson }}
    window.onload = () => {
        app = new Vue({
            el: '#app',
            data() {
                return {
                    workspace: workspace,
                    sort_randomly: true,
                    screenshots: [],
                }
            },
            methods: {
                reload() {
                    axios.get('/api/workspaces/' + workspace.key + '/screenshots')
                        .then(response => {
                            this.screenshots = response.data;
                            this.sort_screenshots();
                        });
                },
                sort_screenshots() {
                    if (this.sort_randomly) {
                        this.screenshots = this.screenshots.sort(_ => 0.5 - Math.random())
                    } else {
                        this.screenshots = this.screenshots.sort((x,y) => {
                            return Date.parse(x.created_at) < Date.parse(y.created_at)
                        })
                    }
                }
            },
            mounted() {
                this.reload()
            }
        });
    }
</script>
{% endblock %}